---
const { variant = "primary", size = "large" } = Astro.props;

const buttonStyling = "transition duration-200";

const variantClasses = {
  primary: "bg-black text-neutral-50",
  secondary: "border-2 bg-white border-red-800 text-red-800",
};

const sizeClasses = {
  large: "py-2 px-12 rounded-3xl",
  medium: "py-2 px-5",
  small: "p-3",
};
---

<div>
  <button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
</div>
