---

---

<div class="pt-16 grid grid-rows-2">
  <div class="row row-start-1 grid md:grid-cols-3">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="row row-start-2 text-right pt-8">
    <p class="grid justify-end">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>
